
img{
  max-width: 150px;
  max-height: 150px;
  cursor:pointer;
}

#Pokemon-Gallery{
  list-style: none;
  text-align:center;
  border-radius:50px;
  box-shadow: 0px 0px 10px 0px black;
  width:70%;
  margin-left:auto;
  margin-right:auto;
  background-color:white;
}

 /* I got the idea for the box-shadow from Chloe Nott in Class. */

li{
  display:inline;
  color:white;
}
h1{
  text-align:center;
  color:white;
}

body:not(#Pokemon-Gallery) {
   background-color:black;
}


